*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    text-align: center;
    /* padding: 0.1rem; */
}
.header{
    /* width: 100%; */
    /* height: 100vh; */
    padding: 0.3rem;
    background-color: #59b256;
}

.header-content{
      max-width: 1280px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      /* padding: 1rem; */
      /* gap: 9rem; */
}

.logo{
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-left: 6rem;
    
}
.logo :nth-child(1){
    color: #212121;
    font-size: 4rem;
    font-weight: 600;
}
.logo :nth-child(2){
    color: #fff;
    font-size: 2.5rem;
}

.links{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.menu a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

a:hover{
    cursor: pointer;
    color: #f1e1e1;
    border-bottom: 2px solid #f1e1e1;
}

.wrapper{

}

.main-content{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-content{
      margin-left: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;
      animation: slideFromLeft 1s ease forwards;
      opacity: 0;
}

@keyframes slideFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}


.left-content :nth-child(1){
    font-size: 25px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.left-content :nth-child(2){
    font-size: 40px;
    text-align: left;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
.left-content :nth-child(3){
    text-align: left;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
    margin-top: 1rem;
    
}

button{
     padding: 5px 15px;
     background-color: #59b256;
     border: none;
     border-radius: 15px;
     font-weight:bold;
     color: #fff;
}

button:hover{
    cursor: pointer;
    box-shadow: 1px 1px 10px black;
}

.main-skill{
    background-color: #faf6f6;
    padding: 3rem;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}

.skill{
    text-align: center;
    font-size: 2.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-decoration: underline; */
    margin-bottom: 1rem;
}

.skill-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.first{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;

}
.second{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.frontend{
    width: 25rem;
    height: 12rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    /* gap: 1rem; */
    box-shadow: 1px 1px 8px #212121;
    border-radius: 20px;
    transition: transform 1s;
}

.frontend:hover{
    transform: scale(1.1);
}
.backend{
    width: 25rem;
    height: 12rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    /* gap: 1rem; */
    box-shadow: 1px 1px 8px #212121;
    border-radius: 20px;
    transition: transform 1s;
}

.backend:hover{
    transform: scale(1.1);
}

.frameworks{
    width: 25rem;
    height: 12rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    /* gap: 1rem; */
    box-shadow: 1px 1px 8px #212121;
    border-radius: 20px;
    transition: transform 1s;
}
.frameworks:hover{
    transform: scale(1.1);
}

.utilities{
    width: 25rem;
    height: 12rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    /* gap: 1rem; */
    box-shadow: 1px 1px 8px #212121;
    border-radius: 20px;
    transition: transform 1s;
} 

.utilities:hover{
    transform: scale(1.1);
}


